<app-toast-component *ngIf="viewToast" [isSuccess]="isToastSuccess" [message]="toastMessage"></app-toast-component>
<div class="flex justify-between">
    <h1 class="text-2xl font-bold ">
        Catalog Management
    </h1>
    <button class="bg-[#2596be] hover:bg-[#25b3e7] text-white rounded-md py-2 px-4" (click)="handelAddCategory()">Add new Category</button>


</div>
<h6 class="mb-4 text-gray-500">This is overview about All Categories in Dentizone.</h6>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  @for (catalog of categories; track $index) {
  <div onkeydown="" (click)="getSubcategory(catalog.id,$index)" class="rounded-md bg-white hover:-translate-y-0.5 hover:shadow-md shadow-sm p-4 grid grid-cols-5">
    <img class="w-10 h-10 rounded-md" [src]="catalog.iconUrl" alt="icon">
     <div class="ps-3 col-span-3">
        <p class="text-xs capitalize text-gray-500">Category name</p>
        <div class="text-sm font-semibold">{{ catalog.name }}</div>
      </div>
      <svg onkeydown="" (click)="showEdit($index)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="#4B5563" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit float-end">
  <path d="M7.5 2.7H2.7A1.7 1.7 0 0 0 1 4.4v8.9a1.7 1.7 0 0 0 1.7 1.7h8.9a1.7 1.7 0 0 0 1.7-1.7V8.5" />
  <path d="M12.3 1.7a1.5 1.5 0 0 1 2.1 2.1L8.8 9.4l-2.8.7.7-2.8 5.6-5.6z" />
</svg>

  </div>
  }
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <!-- Edit user modal -->
    <div onkeydown="" *ngIf="isEditShown" class="fixed inset-0 z-50 flex items-center justify-center w-full p-4 overflow-x-hidden overflow-y-auto bg-black/30"(click)="onBackdropClick($event)">
  <div onkeydown="" class="relative w-full max-w-2xl max-h-full" (click)="$event.stopPropagation()">
    
    <!-- Modal content -->
    <form class="relative bg-white rounded-lg shadow-md">
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t border-gray-200">

        <h3 class="text-xl font-semibold text-gray-900">Edit <span class="text-[#2596be] ">{{selectedCategory.name}}</span></h3>
        <div>
        <button class="bg-red-500 hover:bg-red-600 py-1 px-3 mr-4 rounded-lg text-white"
          (click)="removeCategory(selectedCategory.id)"
        >Delete</button>
        <button (click)="showEdit()" type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
        </div>
      </div>

      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-6 gap-6">
            <div class="col-span-2">
                <div class="relative h-32">
                        <img [src]="selectedCategory.iconUrl" alt="Category icon"
                            class="w-full h-full object-contain rounded-lg border border-gray-300" />

                        <!-- Edit Icon (click to trigger file input) -->
                        <label class="absolute top-1 right-1 bg-white rounded-full p-1 shadow cursor-pointer hover:bg-gray-100">
                            <input type="file" hidden accept="image/*" (change)="onImageChange($event)" />
                            <svg class="w-5 h-5 text-gray-700" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M4 13.586V16h2.414l7.293-7.293-2.414-2.414L4 13.586zM17.707 6.293a1 1 0 0 0 0-1.414l-2.586-2.586a1 1 0 0 0-1.414 0l-1.293 1.293 3.999 3.999 1.294-1.292z"/>
                            </svg>
                        </label>
                    </div>
            </div>
            <div class="col-start-6 sm:col-span-4">
                <label for="Subcategory-name" class="block mb-2 text-sm font-medium text-[#026a8f]">Category Name</label>
                <input [(ngModel)]="newCategoryName"
                [ngModelOptions]="{standalone:true}"
                type="text" name="Subcategory-name" id="Subcategory-name" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 " placeholder="Enter The Subcategory Name" required>
                <div class="flex mt-5 mb-2 justify-between items-center text-sm font-medium text-[#026a8f]">
                <p class="block  text-sm font-medium text-[#026a8f] ">Sub-Categories Name</p>
                 <span *ngIf="selectedCategory.id" class="float-end"><button (click)="handelSubcategoryadd()">Add New</button></span>
                </div> 
                <div class="gap-2  max-w-md">
                  @for (catalog of subCategory; track $index) {
                    <span class="inline-flex mb-2 items-center px-2 py-1 me-2 text-sm font-medium text-[#0d64a2] bg-gray-100 rounded-sm">
                      {{catalog.name}}
                      <button (click)="removeSubcategory(catalog.id)" type="button" class="inline-flex items-center p-1 ms-2 text-sm text-blue-400 bg-transparent rounded-xs hover:bg-blue-200 hover:text-blue-900 " data-dismiss-target="#badge-dismiss-default" aria-label="Remove">
                        <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                      </button>
                    </span>
                  }
                </div>
           </div>
            
        </div>
      </div>

      <!-- Modal footer -->
      <div class="flex items-center p-6 space-x-3 rtl:space-x-reverse border-t border-gray-200 rounded-b">
        <button type="submit"
        (click)="UpdateCategory(selectedCategory.id)"
                class="text-white bg-[#2596be] hover:bg-[#20aadc] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
          Update Category
        </button>
      </div>
    </form>
  </div>
</div>

<!--  -->
 <div onkeydown="" *ngIf="isAddCategoryShow" class="fixed inset-0 z-50 flex items-center justify-center w-full p-4 overflow-x-hidden overflow-y-auto bg-black/30"(click)="onBackdropClick($event)">
  <div onkeydown="" class="relative w-full max-w-2xl max-h-full" (click)="$event.stopPropagation()">
    
    <!-- Modal content -->
    <form class="relative bg-white rounded-lg shadow-md">
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t border-gray-200">
        <h3 class="text-xl font-semibold text-gray-900">Add New Catalog</h3>
        <button (click)="handelAddCategory()" type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-6 gap-6">
            <div class="col-span-3">
                <div class="relative h-32">
                        <img [src]="newCategory.iconUrl" alt="Category icon"
                            class="w-full h-full object-contain rounded-lg border border-gray-300" />

                        <!-- Edit Icon (click to trigger file input) -->
                        <label class="absolute top-1 right-1 bg-white rounded-full p-1 shadow cursor-pointer hover:bg-gray-100">
                            <input type="file" hidden accept="image/*" (change)="onImageUpload($event)" />
                            <svg class="w-5 h-5 text-gray-700" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M4 13.586V16h2.414l7.293-7.293-2.414-2.414L4 13.586zM17.707 6.293a1 1 0 0 0 0-1.414l-2.586-2.586a1 1 0 0 0-1.414 0l-1.293 1.293 3.999 3.999 1.294-1.292z"/>
                            </svg>
                        </label>
                    </div>
            </div>
            <div class="col-start-6 sm:col-span-3">
                <label for="Subcategory-name" class="block mb-2 text-sm font-medium text-gray-900 ">Category Name</label>
                <input [(ngModel)]="newCategory.name"
                [ngModelOptions]="{standalone:true}"
                type="text" name="Subcategory-name" id="Subcategory-name" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 " placeholder="Enter The Subcategory Name" required>
            </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="flex items-center p-6 space-x-3 rtl:space-x-reverse border-t border-gray-200 rounded-b">
        <button type="submit"
        (click)="addCategory()"
                class="text-white bg-[#2596be] hover:bg-[#20aadc] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
          Add New Category
        </button>
      </div>
    </form>
  </div>
</div>




<div *ngIf="subCategoryAddShow" class="fixed inset-0 z-50 flex items-center justify-center w-full p-4 overflow-x-hidden overflow-y-auto bg-black/30"
(click)="onBackdropClick($event)"
onkeydown=""
>
  <div onkeydown="" class="relative w-full max-w-2xl max-h-full" (click)="$event.stopPropagation()">
    <!-- Modal content -->
    <form class="relative bg-white rounded-lg shadow-md">
      <!-- Modal header -->
      <div class="flex items-start justify-between p-4 border-b rounded-t border-gray-200">
        <h3 class="text-xl font-semibold text-gray-900">Add Subcategory to <span class="text-[#0f7297]">{{selectedCategory.name}}</span></h3>
        <button (click)="handelSubcategoryadd()" type="button"
                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <div class="grid grid-cols-6 gap-6">
           <div class="col-span-6 sm:col-span-3">
                <label for="Subcategory-name" class="block mb-2 text-sm font-medium text-gray-900 ">Subcategory Name</label>
                <input [(ngModel)]="newSubCategoryName"
                [ngModelOptions]="{standalone:true}"
                type="text" name="Subcategory-name" id="Subcategory-name" class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 " placeholder="Enter The Subcategory Name" required="">
            </div>
            <button type="submit"
            (click)="addSubCategory()"
                class="text-white col-span-3 float-end h-3/4 mt-5 justify-self-center bg-[#2596be] hover:bg-[#24b2e6] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
          ADD
        </button>
        </div>
      </div>
    </form>
  </div>
</div>
