<app-toast-component
  *ngIf="viewToast"
  [isSuccess]="isToastSuccess"
  [message]="toastMessage"
></app-toast-component>
<h1 class="text-2xl font-bold">User Management</h1>
<h6 class="mb-4 text-gray-500">This is overview about users of Dentizone.</h6>

<div
  class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 justify-center items-stretch mb-8"
>
  <ng-container *ngFor="let card of statCards">
    <app-card [card]="card" class="w-full h-full" />
  </ng-container>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-10 p-2.5">
  <div
    class="flex flex-col md:flex-row md:items-center md:justify-between flex-wrap space-y-4 md:space-y-0 py-4 bg-white"
  >
    <div class="mb-4 px-5 flex flex-col w-full md:w-auto">
      <label
        for="statusFilter"
        class="mr-2 mb-1 text-sm font-medium text-gray-700"
        >Filter by Status:</label
      >
      <select
        id="statusFilter"
        class="border border-gray-300 rounded-lg px-3 py-2 bg-gray-50 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-500 transition duration-150 ease-in-out text-gray-700"
        [(ngModel)]="selectedStatus"
        [ngModelOptions]="{standalone:true}"
        (change)="filterUsers()"
      >
        <option value="-1" selected>All</option>
        <option *ngFor="let item of statuses" [value]="item.index">
          {{ item.name }}
        </option>
      </select>
    </div>

    <form class="w-full md:w-1/2" (submit)="filterUsers()">
      <label for="search" class="mb-2 text-sm font-medium text-gray-900 sr-only"
        >Search</label
      >
      <div class="relative">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
        <input
          type="search"
          [(ngModel)]="searchKeyword"
          [ngModelOptions]="{standalone:true}"
          id="search"
          class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Search"
          required
        />
        <button
          type="submit"
          class="text-white absolute end-2.5 bottom-2.5 bg-[#1480cc] hover:bg-[#3ca5f0] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2"
        >
          Search
        </button>
      </div>
    </form>
  </div>
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">University Name</th>
        <th scope="col" class="px-6 py-3">Status</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track $index) {
      <tr class="bg-white border-b border-gray-200 hover:bg-gray-50 rounded-sm">
        <th
          scope="row"
          class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap"
        >
          <img
            class="w-10 h-10 rounded-full"
            [src]="userAvatars[user.id]"
            alt="avatar"
          />
          <div class="ps-3">
            <div class="text-base font-semibold">{{user.fullName}}</div>
            <div class="font-normal text-gray-500">{{user.email}}</div>
          </div>
        </th>
        <td class="px-6 py-4">{{user.universityName}}</td>
        <td class="px-6 py-4">
          <div class="flex items-center">
            <div
              [ngClass]="{'bg-green-500':user.status=='KycVerified',
                            'bg-green-300':user.status=='Active',
                            'bg-red-800':user.status=='Deleted',
                                'bg-yellow-500':user.status=='PendingVerification',
                                'bg-blue-400':user.status=='EmailVerified',
                                'bg-red-400':user.status=='Blacklisted'
                            }"
              class="h-2.5 w-2.5 rounded-full me-2"
            ></div>
            {{user.status}}
          </div>
        </td>
        <td class="px-6 py-4">
          <select
            id="actionSelect"
            class="border rounded px-2 py-1"
            [(ngModel)]="selectedAction"
            [ngModelOptions]="{standalone:true}"
            (change)="changeUserStatus(user.id)"
          >
            <option value="">Select Action</option>
            <option *ngFor="let action of actions" [value]="action.index">
              {{ action.name }}
            </option>
          </select>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
<app-pagination-component [currentPage]="CurrentPage" [TotalPages]="TotalPages" (pageChanged)="onPageChanged($event)"></app-pagination-component>
