<h1 class="mb-4 text-2xl font-semibold">Order Management</h1>
<div class="p-6 bg-white rounded-lg shadow-md">
  <app-order-header
    (deleteOrders)="confirmAction('delete')"
    (markPending)="confirmAction('pending')"
    (markProcessing)="confirmAction('processing')"
    (statusChange)="onStatusFilterChange($event)"
    (sellerNameChange)="onSellerNameChange($event)"
    (buyerNameChange)="onBuyerNameChange($event)"
    (orderDateChange)="onOrderDateChange($event)"
  >
  </app-order-header>

  <div class="mt-6">
    <app-order-list
      [orders]="filteredOrders"
      (orderClick)="onOrderHover($event)"
    >
    </app-order-list>
  </div>

  <app-pagination-component [currentPage]="page" [TotalPages]="totalPages" (pageChanged)="onPageChanged($event)"></app-pagination-component>
</div>

<app-order-details-modal
  *ngIf="hoverOrder"
  [order]="hoverOrder"
  (close)="clearHover()"
></app-order-details-modal>

<!-- Existing confirmation modal -->
<div
  *ngIf="showModal"
  class="flex fixed inset-0 z-50 justify-center items-center bg-black bg-opacity-50"
>
  <div class="p-6 mx-4 w-full max-w-md bg-white rounded-lg shadow-lg">
    <h2 class="mb-4 text-xl font-bold text-center">Confirm Action</h2>
    <p class="mb-6 text-center text-gray-700">
      Are you sure you want to
      <span *ngIf="modalAction === 'delete'" class="font-semibold text-red-600"
        >delete</span
      >
      <span
        *ngIf="modalAction === 'pending'"
        class="font-semibold text-yellow-600"
        >mark as Pending</span
      >
      <span
        *ngIf="modalAction === 'processing'"
        class="font-semibold text-blue-600"
        >mark as Processing</span
      >
      the selected orders?
    </p>
    <div class="flex gap-4 justify-center">
      <button
        class="px-4 py-2 text-gray-700 rounded border border-gray-300 hover:bg-gray-100"
        (click)="showModal = false"
      >
        Cancel
      </button>
      <button
        class="px-4 py-2 text-white bg-blue-600 rounded hover:bg-blue-700"
        (click)="performConfirmedAction()"
      >
        Yes
      </button>
    </div>
  </div>
</div>
