<h1 class="text-2xl font-bold">Dashboard Overview</h1>
<div class="flex items-center justify-between mb-4">
  <h6 class="text-gray-500">
    Welcome back, Admin! Here's what's happening on Dentizone today!
  </h6>
  <button 
    (click)="forceRefresh()" 
    class="text-blue-600 hover:text-blue-800 underline cursor-pointer text-sm"
  >
    Force Refresh
  </button>
</div>
<div class="flex flex-wrap gap-6">
  <app-card
    *ngFor="let card of DashboardCards"
    [card]="card"
    class="w-full sm:w-[calc(33.333%-1rem)]"
  />
</div>
<div class="grid grid-cols-1 gap-6 pt-6 lg:grid-cols-2">
  <app-chart
    [postCategories]="postCategories"
    [title]="'Posts by Category'"
  ></app-chart>
  <app-chart
    [postCategories]="universityPieData"
    [chartType]="'doughnut'"
    [title]="'Users Per University'"
    [expandable]="true"
  ></app-chart>
</div>
<div class="mt-8">
  <app-recent-activity></app-recent-activity>
</div>
